<style>
  body {
  background-color: powderblue;
     }
  h1 {
  color:white;
  text-align: center; 
      }

/* --------------------Header Style -------------------------------*/
.header {
  padding: 50px;
  text-align: center;
  background: powderblue;
  color: white;
  font-size: 30px;
}

/* --------------------Nav Bar style ----------------------------*/
.navbar {
  overflow: hidden;
  background-color: #333;
  top: 0;
  width 100%;
  left:0;
}

/* Style the nav bar links */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #808080;
  color: black;
}

  }
</style>
